body {
  margin: 0;
  background-color: hsl(0, 0%, 5%);
}

#app {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;

}